.shortValidationSign_wrap {
  width: 100%;
  .title {
    margin-bottom: 15px;
    // .titIcon {
    //   width: 30px;
    //   margin-right: 10px;
    //   img {
    //     width: 100%;
    //     display: block;
    //   }
    // }
    h1 {
      font-size: 21px;
      font-weight: 600;
      color: $main_font_color;
    }
  }
  .swiperSlide_wrap {
    position: relative;
    width: 100%;
    .swiper {
      width: 100%;
      .swiper-slide {
        a {
          // @include flex_aline_justify_center();
          .slide_inner {
            width: 100%;
            border-radius: 10px;
            background: $lightBeige;
            border: 1px solid $lightGray2;
            cursor: pointer;
            &:hover {
            }
            .content_wrap {
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              padding: 16px;
              .float_validation {
                position: absolute;
                top: 16px;
                left: 16px;
                // background: url('https://kr.object.ncloudstorage.com/cosign/project-images/cosign-view/index/main/validation_icon.svg') no-repeat center;
                // background-size: cover;
                img {
                  width: 40px;
                  display: block;
                }
                p {
                  position: absolute;
                  top: 12px;
                  left: 12px;
                  white-space: nowrap;
                  font-weight: 500;
                  font-size: 17px;
                  color: $main_font_color;
                  span {
                    display: inline-block;
                    margin-left: 2px;
                    color: $middleGray;
                    font-size: 12px;
                    font-weight: 400;
                  }
                }
              }
              .mentor {
                @include flex_aline_center();
                max-width: 70%;
                .mentorImg {
                  flex-shrink: 0;
                  width: 25px;
                  border-radius: 50%;
                  // outline: 1px solid $lightGray2;
                  overflow: hidden;
                  img {
                    display: block;
                    width: 100%;
                  }
                }
                .marquee {
                  width: 100%;
                  margin-right: 5px;
                  overflow: hidden;
                  &:hover {
                    h2 {
                      overflow: visible;
                    }
                  }
                  h2 {
                    text-align: justify;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 15px;
                    font-weight: 500;
                    color: $middleGray;
                  }
                  
                }
              } 
              .earning {
                @include flex_aline_center();
                margin-top: 12px;
                h2 {
                  margin-top: 10px;
                  margin-right: 10px;
                  font-size: 14px;
                  font-weight: 400;
                  color: $middleGray;
                }
                p {
                  font-size: 32px;
                  font-weight: 700;
                  color: $main_color0;
                  >span {
                    font-size: 16px;
                    font-weight: 500;
                  }
                }
              }//earning
              .coin {
                // @include flex_aline_center();
                // .coinImg {
                //   width: 25px;
                //   img {
                //     display: block;
                //     width: 100%;
                //   }
                // }
                h2 {
                  margin: 0 5px;
                  font-size: 15px;
                  font-weight: 500;
                  color: $main_font_color;
                }
                // h3 {
                //   font-size: 13px;
                //   font-weight: 400;
                //   color: $middleGray;
                // }
              }//coin
            }
            .time {
              @include flex_aline_center();
              justify-content: space-between;
              padding: 12px 16px;
              border-top: 1px solid $lightGray2;
              p {
                color: $middleGray2;
                font-size: 14px;
                i {
                  vertical-align: -2px;
                  font-size: 19px;
                  color: $middleGray2;
                }
              }
              .validation {
                padding: 4px 10px 6px 10px;
                font-size: 12px;
                color: $middleGray;
                font-weight: 400;
                border-radius: 30px;
                border: 1px solid $lightGray;
              }
            }
          } //slide_inner
        }
      } //swiper-slide
    } //swiper
    .button {
      @include flex_aline_justify_center();
      width: auto;
      height: auto;
      margin-top: 0;
      background: transparent;
      color: $main_font_color;
      top: -40px;
      &:active {
        i {
          color: $lightGray;
        }
      }
      &.BestExchangeSign-button-prev {
        left: auto;
        right: 50px;
      }
      &.BestExchangeSign-button-next {
        left: auto;
        right: 0;
      }
      i {
        display: block;
        font-size: 28px;
      }
    }
  } //swiperSlide_wrap
  .noItems {
    width: 100%;
    margin: 0 auto;
    padding: 90px;
    background: $backgroundColor;
    p {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: $lightGray;
      i {
        display: inline-block;
        vertical-align: -2px;
        margin-right: 5px;
        font-size: 21px;
      }
    }
  }
}