.guideLine_wrap {
  width: 100%;
  background: $white;
  .title {
    @include flex_aline_justify_center();
    margin-bottom: 70px;
    .title_icon {
      width: 52px;
      margin-right: 16px;
      img {
        display: block;
        width: 100%;
      }
    }
    h1 {
      font-size: 42px;
      font-weight: 600;
      span {
        color: $main_color0;
      }
    }
  }
  .introduce_video {
    margin-bottom: 70px;
    iframe {
      display: block;
      width: calc(500px * 1.765);
      height: 500px;
      margin: 0 auto;
      border: 4px solid $lightGray2;
      box-shadow: 0 30px 32px rgba($color: #000000, $alpha: 0.15);
    }
  }
}