
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  i {
    font-style: normal;
  }
  img {
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    width: 100%;
    height: auto;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  .clearFix::after, .clearFix::before {
    display: block;
    content: '';
    clear: both;
  }
  body {
    // background: $backgroundColor;
    background: $white;
    #__nuxt {
      font-family: 'Noto Sans KR', sans-serif;
    }
  }

  //스와이퍼 관련
  .swiper-wrapper {
    display: -webkit-flex;
    display: flex;
  }

  .swiper-slide {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
  }

  //토스트 ui 에디터 관련
.toastui-editor-contents {
  overflow-wrap: break-word;
  table {
      @include notoSans();
      thead {
          tr {
          th {
              background-color: $lightGray2;
              p {
              color: $main_font_color;
              }
          }
          }
      }
  }
  &:not(table) {
      line-height: 160%;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
  }
}