.mentorList_wrap {
  .title {
    .title_list_wrap {
      position: relative;
      white-space: nowrap;
      .title_list {
        display: inline-block;
        margin-right: 20px;
        font-size: 19px;
        font-weight: 500;
        color: $lightGray;
        cursor: pointer;
        &.active {
          color: $main_font_color;
        }
        .list_inner {
          width: 100%;
          padding: 10px;
        }
      }
      .activeStick {
        position: absolute;
        display: block;
        bottom: 0;
        width: 90px;
        height: 3px;
        background: $main_font_color;
        transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
  }
  .mentorList {
    margin: 20px 0;
    .swiper_wrap {
      position: relative;
      animation: opacity 0.5s ease-in-out;
      .swiper {
        overflow: hidden;
        .swiper-wrapper {
          width: 100%;
          .swiper-slide {
            width: calc((100% / 10) - 20px);
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
            .inner {
              a {
                display: block;
                .mentorImg {
                  width: 100px;
                  @include radiusHidden();
                  img {
                    display: block;
                    width: 100%;
                  }
                }
                h2 {
                  margin-top: 12px;
                  text-align: center;
                  font-size: 15px;
                  font-weight: 500;
                  color: $middleGray;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
              
            }
          }
        }
      }
      .nonSwiperItems {
        padding: 40px;
        background: $backgroundColor;
        h2 {
          text-align: center;
          font-weight: 400;
          font-size: 15px;
          color: $lightGray;
        }
      }
      >.button {
        display: block;
        width: auto;
        height: auto;
        background: transparent;
        margin: 0;
        top: -48px;
        &:active {
          i {
            color: $lightGray;
          }
        }
        &.mentorList-button-prev {
          left: auto;
          right: 50px;
        }
        &.mentorList-button-next {
          right: 0;
        }
        i {
          font-size: 28px;
          color: $main_font_color;
        }
      }
    }//swiper_wrap
  }//mentorList
}