$main_font_color: #1E272E;
$main_color1: #F53B57;
$main_color2: #00D8D6;
$white: #fff;
$middleGray: #555;
$lightGray: #999;

@mixin flex_aline_center {
  display: flex;
  align-items: center;
}
@mixin flex_aline_justify_center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.channel_list {
  a {
    position: relative;
    @include flex_aline_center();
    justify-content: space-between;
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background: #f3f3f3;
      bottom: 0;
    }
    .channel_info {
      @include flex_aline_center();
      width: 100%;
      padding: 14px 0;
      .ranking {
        width: 20px;
        font-size: 16px;
        font-weight: 500;
        color: $middleGray;
        margin-right: 10px;
      }
      .channel_img {
        width: 36px;
        margin-right: 8px;
        img {
          display: block;
          width: 100%;
        }
      } 
      .channel_name {
        h3 {
          font-size: 14px;
          font-weight: 400;
          color: $main_font_color;
        }
      }
    }
    .earning {
      text-align: right;
      p {
        font-size: 16px;
        font-weight: 400;//λ…Έν† μ‚°μ¤
        color: #D60000;
        margin-top: 2px;
      }
    }

  }
} //.channel_list