$main_font_color: #1E272E;
$main_color1: #F53B57;
$main_color2: #00D8D6;
$white: #fff;
$middleGray: #555;
$lightGray: #999;

@mixin flex_aline_center {
  display: flex;
  align-items: center;
}
@mixin flex_aline_justify_center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.RecommendChannel_wrap {
  background: #fff;
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.2);
  border-radius: 10px;
  padding: 24px 26px;
  .RecommendChannel_head {
    padding-bottom: 20px;
    h2 {
      font-size: 17px;
      font-weight: 600;
      font-weight: 500;//λ…Έν† μ‚°μ¤
      color: #333;
    }
  }
  .swiper_wrap {
    position: relative;
    .slider_nav {
      position: absolute  ;
      top: -45px;
      right: 0;
      display: flex;
      .mentor_pagination {
        position: static;
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #555;
        letter-spacing: 5px;
        margin-right: 4px;
      }
      .button {
        position: static;
        left: 0;
        top: auto;
        margin: 0;
        border: 1px solid #ddd;
        background-image: none;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        i {
          color: #999;
          font-size: 19px;
        }
      }
    }
  }


}