.myPagePersonal_wrap {
  .title {
    font-size: 19px;
    font-weight: 500;
    color: $main_font_color;
    padding-bottom: 16px;
  }
  .myPagePersonal_body {
    padding: 24px 36px;
    padding-bottom: 36px;
    border: 1px solid $lightGray2;
    border-radius: 10px;
    >div {
      margin-bottom: 34px;
      h2 {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        color: $main_font_color;
      }
      input {
        display: block;
        width: 100%;
        height: 50px;
        padding: 16px;
        border: none;
        border-radius: 10px;
        border: 1px solid $lightGray2;
        outline: none;
        background: $white;
        &:focus {
          border-width: 2px;
          border-color: $main_color2;
        }
      }
      .validation {
        display: block;
        margin-top: 8px;
        font-size: 12px;
        font-weight: 400;
        color: $main_font_color;
        text-indent: 8px;
        i {
          margin-right: 4px;
        }
      }
      &.event_info_agreement {
        input {
          display: none;
          &:checked +label {
            .checkBox {
              background: $main_color2;
              border-color: transparent;
              i {
                color: $white;
              }
            }
          }
        }
        label {
          @include flex_aline_center();
          p {
            font-size: 16px;
            font-weight: 500;
            color: $main_font_color;
          }
          .checkBox {
            @include flex_aline_justify_center();
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $lightGray2;
            margin-left: 10px;
            i {
              font-size: 15px;
              color: $lightGray;
            }
          }
        }
        
      }
    } //div
    button {
      @include notoSans();
      display: block;
      width: 100%;
      border-radius: 10px;
      margin-top: 80px;
      padding: 14px;
      font-weight: 500;
      font-size: 16px;
      color: $white;
      border: none;
      outline: none;
      background: rgba($color: $main_color1, $alpha: 1.0);
      cursor: pointer;
      &:not(:disabled):hover {
        background: rgba($color: $main_color1, $alpha: 0.9);
      }
      &:disabled {
        opacity: 0.5;
        cursor: auto;
      }
    }
  }
}