.animation-rotation {
    animation-name: rotation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 800ms;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}