.channel_list {
  a {
    position: relative;
    @include flex_aline_center();
    justify-content: space-between;
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background: #f3f3f3;
      bottom: 0;
    }
    .channel_info {
      @include flex_aline_center();
      width: 80%;
      padding: 14px 0;
      .ranking {
        flex-shrink: 0;
        width: 10%;
        font-size: 16px;
        font-weight: 500;
        color: $middleGray;
        margin-right: 10px;
      }
      .mentor {
        @include flex_aline_center();
        width: 90%;
        .mentorImg {
          flex-shrink: 0;
          width: 32px;
          margin-right: 8px;
          @include radiusHidden();
          img {
            display: block;
            width: 100%;
          }
        } 
        .marquee {
          overflow: hidden;
          margin-right: 12px;
          &:hover {
            h3 {
              overflow: visible;
            }
          }
          h3 {
            text-align: justify;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 14px;
            font-weight: 400;
            color: $main_font_color;
          }
        }
      }
    }
    .earning {
      width: 20%;
      text-align: right;
      p {
        font-size: 16px;
        font-weight: 500;//λ…Έν† μ‚°μ¤
        color: $main_color0;
        margin-top: 2px;
      }
    }

  }
} //.channel_list