.promotionContent_wrap {
  background: $white;
  @include boxShadow();
  .header {
    padding: 34px;
    background: rgba($color: $main_color0, $alpha: 0.6);
    .title {
      li {
        display: inline-block;
        font-weight: 600;
        font-size: 19px;
        
        &:not(:last-child) {
          &::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 14px;
            margin: 0 20px;
            background: $lightBeige;
          }
        }
        &.active {
          text-decoration: underline;
          // color: $white;
          a {
            color: $white;
          }
        }
        a {
          color: $lightBeige;
        }
      }
    }

    .promotion_list {
      @include flex_aline_center();
      margin-top: 24px;
      >ul {
        li {
          display: inline-block;
          padding-bottom: 1px;
          &::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 12px;
            background: $lightGray2;
          }
          span {
            font-size: 14px;
            font-weight: 500;
            color: $lightBeige;
            opacity: 0.8;
            cursor: pointer;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
          &.active {
            span {
              text-decoration: underline;
              color: $white;
              opacity: 1;
            }
          }
        }
      }
      >button {
        @include notoSans();
        @include btn_sub($margin: 0 0 0 20px, $padding: 4px 10px);
        white-space: nowrap;
      }
    }
  }
  .content {
    padding: 40px;
    .inner {
      >div {
        @include flex_aline_center();
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        >h2 {
          min-width: 80px;
          font-size: 15px;
          font-weight: 500;
          color: $main_font_color;
        }
        >input:not([type='checkbox']) {
          display: block;
          width: calc(100%);
          margin-left: 16px;
          outline: none;
          border: none;
          padding: 10px;
          border: 1px solid $lightGray2;
          border-radius: 4px;
          color: $middleGray;
          font-size: 14px;
          font-weight: 500;
        }

        &.link_url {
          .checkLinkTarget_wrap {
            white-space: nowrap;
            input {
              margin-left: 10px;
            }
            label {
              margin-left: 5px;
              vertical-align: 2px;
              span {
                white-space: nowrap;
                font-size: 13px
              }
            }
          }
        }
        &.pc_image, &.mobile_image {
          >div {
            @include flex_aline_center();
            width: 100%;
            white-space: nowrap;
            margin-left: 16px;
            padding: 6px 10px;
            border: 1px solid $lightGray2;
            border-radius: 4px;
            label {
              font-size: 14px;
              font-weight: 400;
              color: $middleGray;
              background: $lightBeige;
              padding: 4px 8px;
              border: 1px solid $lightGray2;
              cursor: pointer;
            }
            input {
              display: none;
            }
            .imageName {
              @include flex_aline_center();
              margin-left: 12px;
              color: $lightGray;
              overflow: hidden;
              i {
                margin-right: 2px;
                font-size: 15px;
                cursor: pointer;
                &:hover {
                  color: $main_font_color;
                  ~span {
                    color: $main_font_color;
                  }
                }
              }
              span {
                display: block;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .buttons {
      @include flex_aline_justify_center();
      margin-top: 30px;
      button {
        @include notoSans();
        &:first-child {
          @include btn_main($margin: 0 20px 0 0);
        }
        &:last-child {
          @include btn_main($margin: 0, $color: $middleGray2, $back: $lightGray2);
        }
      }
    }
  }
}
