.sign_list_wrap {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;

  .sign_now_head {
    position: relative;
    border-bottom: 1px solid #ddd;
    .sign_now_head_tit {
      padding: 20px 30px;
      @include flex_aline_center();
      justify-content: space-between;
      h1 {
        width: 124px;
        img {
          display: block;
          width: 100%;
        }
      }
      .sign_now_head_info_state {
        @include flex_aline_center();
        .state_alarms {
          @include flex_aline_center();
          margin-right: 16px;
          span {
            display: block;
            margin-right: 10px;
            font-weight: 500;
            font-size: 14px;
            color:#cacaca;
            padding: 8px 12px 8px 10px;
            background: $lightBeige;
            border-radius: 24px;
            &.on {
              // background: $main_color2;
              background: #2058EA;
              color: $white;
            }
          }
        }
        .time {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          >div {
            display: flex;
            align-items: center;
            font-size: 13px;
            font-weight: 400;
            color: $main_font_color;
            margin-bottom: 2px;
            &:last-child {
              margin-bottom: 0;
              i {
                margin-right: 4px;
                cursor: pointer;
                color: $middleGray2;
                font-size: 19px;
                &:hover ~.info_earlyEnd {
                  opacity: 1;
                }
              }
            }
            >span {
              margin-left: 8px;
              color: $lightGray;
            }
            // i {
            //   margin-left: 4px;
            //   cursor: pointer;
            //   color: $middleGray2;
            //   font-size: 19px;
            //   &:hover ~.info_earlyEnd {
            //     opacity: 1;
            //   }
            // }
            .info_earlyEnd {
              position: absolute;
              bottom: -100%;
              right: 10px;
              z-index: 20;
              padding: 16px;
              background: $white;
              border-radius: 16px;
              box-shadow: 0 4px 16px rgba($color: #000000, $alpha: 0.15);
              transition: opacity 0.2s ease-in-out;
              opacity: 0;
              pointer-events: none;
              user-select: none;
              h2 {
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 500;
                color: $main_font_color;
              }
              p {
                // @include flex_aline_center();
                // justify-content: space-between;
                font-size: 13px;
                color: $middleGray2;
                span {
                  color: $main_font_color;
                  margin-left: 5px;
                }
              }
            }
          }
        }  
        >span {
          font-size: 19px;
          color: $middleGray2;
          margin-left: 20px;
        }
      } //.sign_now_head_info_state
      .responsive_share {
        display: none;
      }
    } //.sign_now_head_tit
    
    .responsive_sign_now_head_info_state {
      display: none;
    }
  }//.sign_now_head

  .sign_now_body {
    padding: 20px 30px;
    height: 80vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba($color: #000000, $alpha: 0.2);
      border-radius: 8px;
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
    .sign_now_body_head {
      display: flex;
      align-items: center;
      .sign_now_head_info_title {
        display: flex;
        align-items: center;
        img {
          display: block;
          width: 32px;
          height: 32px;
        }
        div {
          display: flex;
          align-items: center;
          p {
            font-size: 16px;
            font-weight: 600;
            color: #333;
            margin: 0 4px;
          }
          span {
            display: block;
            font-size: 16px;
            font-weight: 500;
            color: #555;
          }
        }
      } //.sign_now_head_info_title
      .sign_now_body_head_price {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        background: #f1f1f1;
        border-radius: 10px;
        margin-left: 20px;
        .bottom_price {
          display: flex;
          align-items: center;
          margin-right: 16px;
          div {
            display: flex;
            align-items: center;
            span {
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #ddd;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $main_color0;
            }
            h3 {
              font-size: 14px;
              color: #555;
              margin-left: 4px;
            }
          }
          p {
            font-size: 14px;
            color: #333;
            font-weight: 600;
            margin-left: 4px;
          }
        } 
        .top_price {
          display: flex;
          align-items: center;
          margin-right: 16px;
          div {
            display: flex;
            align-items: center;
            span {
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #ddd;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $main_color0;
            }
            h3 {
              font-size: 14px;
              color: #555;
              margin-left: 4px;
            }
          }
          p {
            font-size: 14px;
            color: #333;
            font-weight: 600;
            margin-left: 4px;
          }
        }
        .end_price {
          @include flex_aline_center();
          div {
            @include flex_aline_center();
            span {
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #ddd;
              @include flex_aline_justify_center();
              color: #888;
            }
            h3 {
              font-size: 14px;
              color: #555;
              margin-left: 4px;
            }
          }
          p {
            font-size: 14px;
            color: #333;
            font-weight: 600;
            margin-left: 4px;
          }
        }
      }
    } //.sign_now_body_head

    .sign_now_body_main {

      .main_content_wrap {
        display: flex;
        margin-top: 20px;
        .sign_now_body_main_info {
          margin-right: 16px;
          .price_box {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
            &:nth-child(3) {
              margin-bottom: 100px;
            }
            .price_head {
              display: flex;
              align-items: center;
              div {
                width: 23px;
                @include flex_aline_justify_center();
                border-radius: 50%;
                img {
                  display: block;
                  width: 100%;
                }
                &.entry_price_img {
                  // background: #FEF1E7;
                  i {
                    color: #FB8A2E;
                    font-size: 24px;
                  }
                }
                &.target_price_img {
                  // background: #FBE8E8;
                  i {
                    color: $main_color0;
                    font-size: 24px;
                  }
                }
                &.predict_img {
                  // background: #FBE8E8;
                  &.earning_minus {
                    // background: #DEE8F7;
                  }
                  &.earning_gray {
                    // background: rgba($color: $lightGray, $alpha: 0.2);
                  }
                  i {
                    color: $main_color0;
                    font-size: 24px;
                    &.earning_minus {
                      color: #2058EA;
                    }
                    &.earning_gray {
                      color: $lightGray;
                    }
                  }
                }
                
              }
              h2 {
                white-space: nowrap;
                font-size: 19px;
                font-weight: 400;//λ…Έν† μ‚°μ¤
                color: #333;
                margin-left: 5px;
              }
            } //.price_head
            &:hover {
              // box-shadow: 0 16px 30px rgba(11, 53, 253, 0.2);
              // border: 1px solid rgba(11, 53, 253, 0.2);
            }
            p {
              @include flex_aline_justify_center();
              min-width: 132px;
              height: 33px;
              font-size: 17px;
              letter-spacing: -0.5px;
              font-weight: 500;
              color: $white;
              border-radius: 32px;
              margin-top: 6px;
              span {
                font-size: 13px;
                margin-left: 2px;
                margin-top: 1px;
              }
            }
            &.entry_price {
              p {
                background: #FB8A2E;
              }
            } //.entry_price
  
            &.target_price {
              p {
                background: $main_color0;
              }
            } //.target_price
  
            &.predict_price {
              p {
                background: $main_color0;
                &.earning_minus {
                  background: #2058EA;
                }
                &.earning_gray {
                  background: $lightGray;
                }
                &.earning_fail {
                  background: #999;
                  font-weight: 400;
                }
              }
            } //.predict_price
          } //.price_box

          .stop_price_area {
            // margin-top: 100px;
            div {
              @include flex_aline_center();
              span {
                @include flex_aline_justify_center();
                width: 23px;
                i {
                  font-size: 23px;
                  color: #888;
                }
              }
              h3 {
                font-size: 19px;
                color: #555;
                font-weight: 400;
                margin-left: 5px;
              }
            }
            p {
              @include flex_aline_justify_center();
              min-width: 132px;
              height: 32px;
              padding-bottom: 1px;
              font-size: 17px;
              color: $white;
              font-weight: 500;
              margin-top: 6px;
              border-radius: 40px;
              background: $lightGray;
              span {
                font-size: 14px;
                margin-left: 2px;
              }
            }

          }
        } //.sign_now_body_main_info
      }
      
      .infoEarlyEndTime {
        width: 100%;
        margin: 20px auto 0 auto;
        .inner {
          @include flex_aline_justify_center();
          white-space: nowrap;
          width: 100%;
          padding: 10px;
          border-radius: 8px;
          background: $lightBeige2;
          >i {
            margin-right: 2px;
            font-size: 18px;
            color: $middleGray2;
          }
          .info_text {
            @include flex_aline_center();
            color: $middleGray;
            h2 {
              font-size: 14px;
              font-weight: 500;
            }
            p {
              margin: 0 4px;
              font-size: 14px;
              font-weight: 500;
              span {
                color: $main_font_color;
              }
            }
          }
        }
      }
    } //.sign_now_body_main

    .google-adSense-wrap {
      margin-top: 30px;
    }

    >.sign_now_body_sub {
      .sub_line {
        display: block;
        width: 100%;
        height: 1px;
        background: #ddd;
        margin: 30px 0;
      }
      p {
        text-align: justify;
        font-weight: 400;
        font-size: 15px;
        color: #333;
        line-height: 1.7;
        margin: 24px 0;
        &:nth-child(3) {
          margin: 24px 0;
        }
      }
      span {
        display: block;
        img {
          display: block;
          width: 100%;
        }
      }
      
    } //.sign_now_body_sub
  } //.sign_now_body
} //..sign_list_wrap
