.sign_now_news_wrap {
  margin-top: 30px;
  padding-top: 24px;
  border-top: 1px solid #ddd;
  header {
    display: flex;
    align-items: center;
    span {
      width: 17px;
      margin-right: 4px;
      img {
        display: block;
        width: 100%;
      }
    }
    h2 {
      font-weight: 600;
      font-weight: 500;//λ…Έν† μ‚°μ¤
      font-size: 17px;
      color: #333;
    }
  }
  .news_body {
    margin-top: 16px;
    li {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        span {
          background: #999;
        }
        p {
          color: #333;
          font-weight: 500;
        }
        i {
          color: #333;
        }
      }
      a {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
          display: block;
          width: 4px;
          height: 4px;
          background: #bbb;
          border-radius: 50%;
          margin-right: 6px;
        }
        p {
          font-size: 14px;
          overflow: hidden;
          color: #555;
          font-weight: 400;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        i {
          font-size: 17px;
          color: #999;
          margin-left: 20px;
        }
      }
    }
  }
} //.sign_now_news_wrap