.modal_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 31;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  animation: openFade 0.3s ease-in-out;
  &.close {
    display: none;
  }
  .outer{
    position: absolute;
    width: 840px;
    
    .modal_box {
      border-radius: 10px;
      width: 100%;

      .swiper {
        .swiper-slide {
        }
      } //.swiper
      
    } //.modal_box
    .modal_swiper-button-prev {
      position: absolute;
      top: 50%;
      left: -60px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      background: none;
      i {
        color: #999;
        font-size: 90px;
        &:hover {
          color: #fff;
        }
      }
    }
    .modal_swiper-button-next {
      position: absolute;
      top: 50%;
      right: -60px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      background: none;
      i {
        color: #999;
        font-size: 90px;
        &:hover {
          color: #fff;
        }
      }
    }
    .modalClose {
      position: absolute;
      top: 0;
      right: -50px;
      color: #999;
      font-size: 40px;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }//.outer
} //.modal_wrap

@keyframes openFade {
  from {opacity: 0;}
  to {opacity: 1;}
}