$main_font_color: #1E272E;
$main_color1: #F53B57;
$main_color2: #00D8D6;

@mixin flex_aline_center {
  display: flex;
  align-items: center;
}
@mixin flex_aline_justify_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduceMentor_wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 14px 14px rgba($color: #000000, $alpha: 0.08);
  .header {
    position: relative;
    background: #fff;
    padding: 18px 20px;
    border-bottom: 1px solid #eee;
    &::before {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: $main_color2;
    }
    ul {
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      -webkit-column-gap: 15px;
      -moz-column-gap: 15px;
      gap: 15px;  //익스플로러에서 안먹는다...
      .introduceMentorMenu {
        border-radius: 8px;
        background: #EDF1F5;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        &.active {
          background: #E9F9F7;
          .inner {
            .MenuIcon {
              img.activeIcon {
                opacity: 1;
              }
            }
            h1 {
              color: $main_font_color;
            }
          }
        }
        .inner {
          position: relative;
          z-index: 1;
          @include flex_aline_center();
          width: 100%;
          padding: 6px 8px;
          pointer-events: none;
          .MenuIcon {
            position: relative;
            width: 21px;
            margin-right: 5px;
            img {
              display: block;
              width: 100%;
              transition: opacity 0.3s ease-in-out;
              &.activeIcon {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
              }
            }
          }
          h1 {
            white-space: nowrap;
            font-size: 16px;
            font-weight: 500;
            color: #888;
            transition: all 0.3s ease-in-out;
          }
        }
      } //introduceMentorMenu
    }
  } //header
  .introduceMentorList {
    .swiper {
      padding-bottom: 10px;
      .swiper-slide {
        padding: 20px;
      }
      .introduceMentor_pagination {
        bottom: 16px;
        span {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background: #B9BFC5;
          transition: all 0.4s ease-in-out;
          &.swiper-pagination-bullet-active {
            width: 30px;
          }
        }
      }
    } //swiper
  } //introduceMentorList
}

@keyframes growCircle {0% {width: 0; height: 0; opacity: 1;} 100% {width: 300px; height: 300px; opacity: 0;}}