.routeNotice_wrap {
  padding: 24px;
  .notice_table {
    .table_title {
      @include flex_aline_center();
      background: $lightGray2;
      border: 1px solid $lightGray;
      >div {
        border-right: 1px solid $lightGray;
        text-align: center;
        padding: 16px 0;
        &.no {
          width: 10%;
        }
        &.tit {
          width: 70%;
        }
        &.registDate {
          width: 20%;
          border: none;
        }
      }
    }
    .table_list {
      border: 1px solid $lightGray;
      border-top: none;
      ul {
        li {
          border-bottom: 1px solid $lightGray;
          &:last-child {
            border-bottom: none;
          }
          a {
            @include flex_aline_center();
            >div {
              padding: 16px 0;
              &.list_no {
                width: 10%;
                text-align: center;
                border-right: 1px solid $lightGray;
              }
              &.list_tit {
                width: 70%;
                text-indent: 16px;
                border-right: 1px solid $lightGray;
              }
              &.list_time {
                width: 20%;
                text-align: center;
              }
            }
          }
          
        }
      }
    }
  }
}