.faqRegist_wrap {
  background: $white;
  @include boxShadow();
  .header {
    padding: 34px;
    text-align: center;
    background: rgba($color: $main_color0, $alpha: 0.6);
    h1 {
      font-size: 19px;
      font-weight: 600;
      color: $white;
    }
  }
  .content {
    padding: 40px;
    .inner {
      >div {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        >h2 {
          margin-bottom: 12px;
          font-size: 16px;
          font-weight: 500;
          color: $main_font_color;
        }
        >span {
          display: block;
          margin-top: 5px;
          text-indent: 5px;
          color: $main_color0;
          font-size: 12px;
          font-weight: 400;
          >i {
            margin-right: 2px;
            font-size: 14px;
            vertical-align: -1px;
          }
        }
        &.category {
          .select_wrap {
            position: relative;
            width: 100px;
            >select {
              @include notoSans();
              padding: 8px 24px 8px 8px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border-color: $lightGray2;
              border-radius: 4px;
              outline-color: $lightGray;
              color: $main_font_color;
              font-size: 14px;
              option {
                width: 100%;
                background: $backgroundColor;
              }
            }
            i {
              position: absolute;
              pointer-events: none;
              top: 15px;
              right: 8px;
              font-size: 12px;
            }
          }
        } 
        &.question {
          >input {
            @include notoSans();
            display: block;
            width: 100%;
            border: none;
            border: 1px solid $lightGray2;
            border-radius: 4px;
            outline-color: $lightGray;
            padding: 12px;
            font-size: 14px;
            font-weight: 500;
            color: $main_font_color;
            &::placeholder {
              color: $lightGray;
              font-weight: 400;
            }
          }
        }
        &.inquiryContent {
          .toastEditor_wrap {
            width: 100%;
            padding: 0;
            .toastEditor {
              width: 100%;
              height: 100%;
              border: 1px solid $lightGray2;
              border-radius: 4px;
              overflow: hidden;
              &.focus {
                border-color: rgba($color: #000000, $alpha: 0);
                outline: 2px solid $lightGray;
              }
              .toastui-editor-toolbar-group {
                align-items: center;
                button {
                  margin-top: 0;
                }
              }
              .toastui-editor-defaultUI {
                border: none;
                .toastui-editor-defaultUI-toolbar {
                  padding: 0 14px;
                }
                .toastui-editor-main {
                  .toastui-editor-main-container {
                    .toastui-editor-contents {
                      padding: 14px;
                      text-indent: 0;
                      table {
                        @include notoSans();
                        thead {
                          tr {
                            th {
                              background-color: $backgroundColor;
                              p {
                                color: $main_font_color;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    >button {
      @include notoSans();
      @include btn_main();
    }
  }
  
}