.qnaRead_wrap {
  background: $white;
  @include boxShadow();
  .header {
    padding: 34px;
    text-align: center;
    background: rgba($color: $main_color0, $alpha: 0.6);
    h1 {
      font-size: 19px;
      font-weight: 600;
      color: $white;
    }
  }
  .content {
    padding: 40px;
    .table_wrap {
      border-top: 2px solid $lightGray2;
      border-bottom: 2px solid $lightGray2;
      >table {
        width: 100%;
        border-collapse: collapse;
        >tr {
          border-bottom: 1px solid $lightGray2;
          &:last-child {
            border-bottom: none;
          }
          &.content {
            >td {
              padding: 5px 0;
              .cont {
                width: 100%;
                height: 100%;
                padding: 10px;
                background: $backgroundColor;
              }
              .attach {
                padding: 8px 16px;
                border-top: 1px solid $lightGray2;
                background: $backgroundColor;
                .list {
                  @include flex_aline_center();
                  line-height: 1.9;
                  >h2 {
                    font-size: 14px;
                    font-weight: 400;
                    color: $middleGray2;
                  }
                  >p {
                    margin-left: 5px;
                    font-size: 14px;
                    font-weight: 400;
                    a {
                      color: $middleGray;
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
          >td {
            padding: 16px 0;
            font-size: 14px;
            font-weight: 400;
            color: $middleGray;
            &:not(.td_tit) {
              text-indent: 14px;
              font-weight: 500;
            }
            &.td_tit {
              width: 15%;
              text-align: center;
              font-weight: 400;
              color: $main_font_color;
            }         
          }
        }
      }

      >div {
        &.editor_area {
          margin-top: 30px;
          margin-bottom: 5px;
          h2 {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 500;
            color: $main_font_color;
          }
          .toastEditor_wrap {
            width: 100%;
            padding: 0;
            .toastEditor {
              width: 100%;
              height: 100%;
              border: 1px solid $lightGray2;
              &.focus {
                border-color: rgba($color: #000000, $alpha: 0);
                outline: 2px solid $lightGray;
              }
              .toastui-editor-toolbar-group {
                align-items: center;
                button {
                  margin-top: 7px;
                }
              }
              .toastui-editor-defaultUI {
                border: none;
                .toastui-editor-defaultUI-toolbar {
                  padding: 0 14px;
                }
                .toastui-editor-main {
                  .toastui-editor-main-container {
                    .toastui-editor-contents {
                      padding: 14px;
                      text-indent: 0;

                      table {
                        @include notoSans();
                        thead {
                          tr {
                            th {
                              background-color: $backgroundColor;
                              p {
                                color: $main_font_color;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .viewer {
            padding: 16px;
            background: $backgroundColor;
            table {
              @include notoSans();
              thead {
                tr {
                  th {
                    background-color: $lightGray2;
                    p {
                      color: $main_font_color;
                    }
                  }
                }
              }
            }
          }
        }//editor_area
        &.registDate {
          @include flex_aline_center();
          // margin-top: 20px;
          padding: 14px 0;
          border-top: 1px solid $lightGray2;
          p {
            font-size: 15px;
            font-weight: 500;
            color: $main_font_color;
          }
          .date {
            margin-left: 20px;
            font-size: 14px;
            color: $middleGray;
          }
        }
      }
      
    }
    .buttons {
      margin-top: 14px;
      >button {
        @include notoSans();
        @include btn_sub();
        float: right;
        &:first-child {
          margin-left: 14px;
        }
        
      }
    }
    >button {
      @include notoSans();
      @include btn_main($margin: 20px auto 0 auto);
      &.regist {
        padding: 10px 20px;
        font-size: 17px;
        color: $white;
      }
      &.list {
        padding: 10px 20px;
        font-size: 17px;
        color: $white;
      }
    }
  }
}

